@import '~@zimbra/x-ui/helpers.less';

.column {
  border-radius: 5px  ;
  font-size: 13px;
  flex: 1;
  // background-color: gray;
  background-color: rgb(242, 242, 242);
  margin: 5px;
  padding-bottom: 15px;
//   .scroll();
//   justify-content: stretch;
}

.center {
  text-align: center;
}